@keyframes icon-flip {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 180deg);
    }
}

@keyframes cog-rotate{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
  
@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}
  

.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    padding: var(--horizontal-space);
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: var(--cloud);
}

.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

.screen-header__icons span:hover{
    color: var(--dove);
}

.fa-cog:hover,
.fa-music:hover{
    animation: cog-rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}

.fa-search:hover{
    animation: icon-flip 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}

.fa-music:hover,
.fa-comment-dots:hover{
    animation: heartbeat 1s ease-in-out infinite;
}